@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Sans+3:wght@400&display=swap");

$primary:   #A04ADD;
$secondary: #3B53C7;
$success:   #A4D882;
$info:      #59C1EF;
$warning:   #FFF689;
$danger:    #E5446D;
$light:     #f2f2f2;
$dark:      #181853;

$body-bg: $light;

$navbar-dark-hover-color: $primary;

$font-family-base: 'Source Sans 3', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$headings-font-family: 'Libre Baskerville', 'Times New Roman', serif;

$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-brand {font-family: 'Libre Baskerville', 'Times New Roman', serif;}